In [58]:
import numpy as np
import pandas as pd

import warnings
warnings.simplefilter('ignore', FutureWarning)

%matplotlib inline
import matplotlib.pyplot as plt

# Feature engineering code from template - START
Project3Git/03 Feature Engineering/02 Feature Engineering - X-Y split - Y One-Hot Encoding - Train-Test Split - Scaling X Training Data.ipynb

In [59]:
#Import encoded data
bankchurnersencoded = pd.read_csv('../03 Feature Engineering/bankchurnersencoded.csv')
bankchurnersencoded.head(10)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,1,3,3,1,4,1,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,0,5,5,2,2,1,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,1,3,5,1,5,1,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,0,4,3,3,2,1,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,1,3,2,1,4,1,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
5,713061558,Existing Customer,44,1,2,5,1,3,1,36,...,1,2,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311
6,810347208,Existing Customer,51,1,4,1,1,6,3,46,...,1,3,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066
7,818906208,Existing Customer,32,1,0,3,3,4,2,27,...,2,2,29081.0,1396,27685.0,2.204,1538,36,0.714,0.048
8,710930508,Existing Customer,37,1,3,2,2,4,1,36,...,2,0,22352.0,2517,19835.0,3.355,1350,24,1.182,0.113
9,719661558,Existing Customer,48,1,2,5,2,5,1,36,...,3,3,11656.0,1677,9979.0,1.524,1441,32,0.882,0.144

# Split data into X (features) and Y (classes)

In [60]:
# Create X data (Features)
X = bankchurnersencoded.drop(["CLIENTNUM", "Attrition_Flag"], axis=1)
print(X.shape)

(10127, 19)

In [61]:
# Create y (classification data)
y = bankchurnersencoded["Attrition_Flag"]
print(y.shape)

(10127,)

# Split data into Train and Test data

In [62]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [63]:
#Define split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

**Resetting X_test and Y_test index**

In [64]:
X_test = X_test.reset_index(drop=True)
X_test[:5]

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,43,0,2,5,1,2,1,36,6,3,2,2570.0,2107,463.0,0.651,4058,83,0.766,0.820
1,38,0,1,4,3,2,1,32,2,3,3,2609.0,1259,1350.0,0.871,8677,96,0.627,0.483
2,39,1,2,4,1,4,1,31,6,3,2,9871.0,1061,8810.0,0.545,1683,34,0.478,0.107
3,44,1,4,5,1,6,1,32,6,3,4,34516.0,2517,31999.0,0.765,4228,83,0.596,0.073
4,38,0,2,7,1,2,1,28,5,2,4,1614.0,0,1614.0,0.609,2437,46,0.438,0.000

In [65]:
y_test = y_test.reset_index(drop=True)
y_test[:5]

0       Existing Customer
1       Existing Customer
2       Existing Customer
3       Existing Customer
4       Attrited Customer
              ...
2527    Existing Customer
2528    Existing Customer
2529    Existing Customer
2530    Existing Customer
2531    Existing Customer
Name: Attrition_Flag, Length: 2532, dtype: object

# One-hot encode Y classes

* Initial label encoding

In [66]:
# Set encoder
label_encoder = LabelEncoder()

In [67]:
# Fit Y classes to encoder
label_encoder.fit(y_train)

LabelEncoder()

In [68]:
#Transform Y-train classes - CAN ONLY DO THIS ONCE
encoded_y_train = label_encoder.transform(y_train)

In [69]:
print("Y train first ten classes")
print(y_train[:10])

Y train first ten classes
4477    Existing Customer
5191    Attrited Customer
2150    Existing Customer
1821    Existing Customer
9127    Existing Customer
1669    Existing Customer
7548    Existing Customer
7079    Existing Customer
8674    Existing Customer
4355    Existing Customer
Name: Attrition_Flag, dtype: object

In [70]:
print("Y train Encoded first ten classes")
print(encoded_y_train[:10])

Y train Encoded first ten classes
[1 0 1 1 1 1 1 1 1 1]

In [71]:
#Transform Y-test classes - CAN ONLY DO THIS ONCE
encoded_y_test = label_encoder.transform(y_test)

In [72]:
print("Y test first ten classes")
print(y_test[:10])

Y test first ten classes
0    Existing Customer
1    Existing Customer
2    Existing Customer
3    Existing Customer
4    Attrited Customer
5    Existing Customer
6    Attrited Customer
7    Existing Customer
8    Existing Customer
9    Attrited Customer
Name: Attrition_Flag, dtype: object

In [73]:
print("Y test Encoded first ten classes")
print(encoded_y_test[:10])

Y test Encoded first ten classes
[1 1 1 1 0 1 0 1 1 0]

* One-hot encoding
    * Think we may only need this if doing deep learning - other models may only require labelencoding

In [74]:
#One-hot transform Y train - CAN ONLY DO ONCE
y_train_categorical = to_categorical(encoded_y_train)

In [75]:
print("Y train first ten classes")
print(y_train[:10])

Y train first ten classes
4477    Existing Customer
5191    Attrited Customer
2150    Existing Customer
1821    Existing Customer
9127    Existing Customer
1669    Existing Customer
7548    Existing Customer
7079    Existing Customer
8674    Existing Customer
4355    Existing Customer
Name: Attrition_Flag, dtype: object

In [76]:
print("Y train One-Hot encoded first ten classes")
print(y_train_categorical[:10])

Y train One-Hot encoded first ten classes
[[0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]]

In [77]:
#One-hot transform Y test - CAN ONLY DO ONCE
y_test_categorical = to_categorical(encoded_y_test)

In [78]:
print("Y test first ten classes")
print(y_test[:10])

Y test first ten classes
0    Existing Customer
1    Existing Customer
2    Existing Customer
3    Existing Customer
4    Attrited Customer
5    Existing Customer
6    Attrited Customer
7    Existing Customer
8    Existing Customer
9    Attrited Customer
Name: Attrition_Flag, dtype: object

In [79]:
print("Y test One-Hot encoded first ten classes")
print(y_test_categorical[:10])

Y test One-Hot encoded first ten classes
[[0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]]

# Scale X data

In [80]:
#Fit X_traindata to scaler
X_scaler = MinMaxScaler().fit(X_train)

In [81]:
#Transform X-train data - CAN ONLY RUN THIS ONCE
X_train_scaled = X_scaler.transform(X_train)

In [82]:
#Transform X-Test data - CAN ONLY RUN THIS ONCE
X_test_scaled = X_scaler.transform(X_test)

# Feature engineering code from template - STOP

# Machine Learning Model - Decision Tree

In [83]:
# Uncomment pip install if sklearn not up to date 
# Update sklearn to prevent version mismatches
#!pip install sklearn --upgrade

In [84]:
# Uncomment if joblib not installed
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
#!pip install joblib

In [85]:
import os

In [86]:
from sklearn import tree

In [87]:
#define the model
classifier = tree.DecisionTreeClassifier()
classifier

DecisionTreeClassifier()

In [88]:
#Fit the model
classifier = classifier.fit(X_train_scaled, y_train_categorical)

In [89]:
#Score the model
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train_categorical)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test_categorical)}")

Training Data Score: 1.0
Testing Data Score: 0.934044233807267

## Prediction

In [90]:
predictions_tree = classifier.predict(X_test_scaled)

In [91]:
#https://stackoverflow.com/questions/47380663/numpy-reverse-keras-to-categorical
predictions_tree_decoded = np.argmax(predictions_tree, axis=1)
predictions_tree_decoded

array([1, 1, 1, ..., 1, 1, 1])

In [92]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
predictions_tree_labels = label_encoder.inverse_transform(predictions_tree_decoded)

In [93]:
predictions_tree_labels

array(['Existing Customer', 'Existing Customer', 'Existing Customer', ...,
       'Existing Customer', 'Existing Customer', 'Existing Customer'],
      dtype=object)

In [94]:
y_test

0       Existing Customer
1       Existing Customer
2       Existing Customer
3       Existing Customer
4       Attrited Customer
              ...
2527    Existing Customer
2528    Existing Customer
2529    Existing Customer
2530    Existing Customer
2531    Existing Customer
Name: Attrition_Flag, Length: 2532, dtype: object

In [95]:
y_test_string = y_test.reset_index(drop=True)

In [97]:
#print("Tree Predicted Labels:")
# for i in range(0,50):
#     print(f"Tree Predicted Output:{predictions_tree[i]} {predictions_tree_labels[i]} - Actual classification: {y_test_string[i]}")
# print("-" * 20)

## Create comparison data frame

In [ ]:
#print("Tree Predicted Labels:")
# for i in range(0,50):
#     print(f"Tree Predicted Output:{predictions_tree[i]} {predictions_tree_labels[i]} - Actual classification: {y_test_string[i]}")
# print("-" * 20)

In [119]:
#Dataframe
comparison_tree = pd.DataFrame({'Prediction Class': predictions_tree_decoded,
                                'Prediction Label':predictions_tree_labels,
                                'Actual Label':y_test})
comparison_tree[:50]

    Prediction Class   Prediction Label       Actual Label
0                  1  Existing Customer  Existing Customer
1                  1  Existing Customer  Existing Customer
2                  1  Existing Customer  Existing Customer
3                  1  Existing Customer  Existing Customer
4                  0  Attrited Customer  Attrited Customer
5                  1  Existing Customer  Existing Customer
6                  0  Attrited Customer  Attrited Customer
7                  1  Existing Customer  Existing Customer
8                  1  Existing Customer  Existing Customer
9                  0  Attrited Customer  Attrited Customer
10                 1  Existing Customer  Existing Customer
11                 1  Existing Customer  Existing Customer
12                 1  Existing Customer  Existing Customer
13                 1  Existing Customer  Existing Customer
14                 1  Existing Customer  Existing Customer
15                 1  Existing Customer  Existing Customer
16                 1  Existing Customer  Existing Customer
17                 1  Existing Customer  Existing Customer
18                 1  Existing Customer  Existing Customer
19                 1  Existing Customer  Existing Customer
20                 1  Existing Customer  Existing Customer
21                 1  Existing Customer  Existing Customer
22                 1  Existing Customer  Existing Customer
23                 1  Existing Customer  Existing Customer
24                 1  Existing Customer  Existing Customer
25                 0  Attrited Customer  Existing Customer
26                 1  Existing Customer  Existing Customer
27                 1  Existing Customer  Existing Customer
28                 0  Attrited Customer  Attrited Customer
29                 1  Existing Customer  Existing Customer
30                 1  Existing Customer  Existing Customer
31                 1  Existing Customer  Existing Customer
32                 1  Existing Customer  Existing Customer
33                 1  Existing Customer  Attrited Customer
34                 1  Existing Customer  Existing Customer
35                 1  Existing Customer  Existing Customer
36                 1  Existing Customer  Existing Customer
37                 0  Attrited Customer  Attrited Customer
38                 1  Existing Customer  Existing Customer
39                 1  Existing Customer  Existing Customer
40                 1  Existing Customer  Existing Customer
41                 0  Attrited Customer  Attrited Customer
42                 1  Existing Customer  Existing Customer
43                 1  Existing Customer  Existing Customer
44                 1  Existing Customer  Existing Customer
45                 1  Existing Customer  Existing Customer
46                 0  Attrited Customer  Attrited Customer
47                 1  Existing Customer  Existing Customer
48                 0  Attrited Customer  Existing Customer
49                 1  Existing Customer  Existing Customer

In [125]:
#Find all Attrited Customers
#onlybilly = df.loc[df[“first name”] == “Billy”, :]
attrited_only = comparison_tree.loc[comparison_tree["Prediction Label"] == "Attrited Customer", :]
print(f"In the Test data there is {len(attrited_only)} attrited customers out of {len(comparison_tree)} records.")
attrited_only[:10]

In the Test data there is 402 attrited customers out of 2532 records.

    Prediction Class   Prediction Label       Actual Label
4                  0  Attrited Customer  Attrited Customer
6                  0  Attrited Customer  Attrited Customer
9                  0  Attrited Customer  Attrited Customer
25                 0  Attrited Customer  Existing Customer
28                 0  Attrited Customer  Attrited Customer
37                 0  Attrited Customer  Attrited Customer
41                 0  Attrited Customer  Attrited Customer
46                 0  Attrited Customer  Attrited Customer
48                 0  Attrited Customer  Existing Customer
50                 0  Attrited Customer  Attrited Customer

In [146]:
incorrect_attrited = attrited_only.loc[attrited_only["Actual Label"] == "Existing Customer", :]
print(f"There are {len(incorrect_attrited)} incorrectly predicted attrited customers out of {len(attrited_only)} predicted attrities")
Percent_correct = str(round(((len(attrited_only)-len(incorrect_attrited))/len(attrited_only))*100, 2))
print(f"This is an actual accuracy of {Percent_correct}.")
incorrect_attrited

There are 82 incorrectly predicted attrited customers out of 402 predicted attrities
This is an actual accuracy of 79.6.

      Prediction Class   Prediction Label       Actual Label
25                   0  Attrited Customer  Existing Customer
48                   0  Attrited Customer  Existing Customer
56                   0  Attrited Customer  Existing Customer
125                  0  Attrited Customer  Existing Customer
127                  0  Attrited Customer  Existing Customer
...                ...                ...                ...
2475                 0  Attrited Customer  Existing Customer
2481                 0  Attrited Customer  Existing Customer
2482                 0  Attrited Customer  Existing Customer
2509                 0  Attrited Customer  Existing Customer
2525                 0  Attrited Customer  Existing Customer

[82 rows x 3 columns]

# Machine Learning Model - Random Forest Model

In [150]:
from sklearn.ensemble import RandomForestClassifier

In [151]:
#Define model
randomforestmodel = RandomForestClassifier(n_estimators=200)

In [152]:
#Fit the model
randomforest = randomforestmodel.fit(X_train_scaled, y_train_categorical)

In [155]:
# Score the model
print(f"Training Data Score: {randomforest.score(X_train_scaled, y_train_categorical)}")
print(f"Testing Data Score: {randomforest.score(X_test_scaled, y_test_categorical)}")

Training Data Score: 1.0
Testing Data Score: 0.9609004739336493

## Prediction

In [156]:
predictions_forest = randomforest.predict(X_test_scaled)

In [157]:
predictions_forest_decoded = np.argmax(predictions_forest, axis=1)
predictions_forest_decoded

array([1, 1, 1, ..., 1, 1, 1])

In [159]:
predictions_forest_labels = label_encoder.inverse_transform(predictions_forest_decoded)
predictions_forest_labels[:10]

array(['Existing Customer', 'Existing Customer', 'Existing Customer',
       'Existing Customer', 'Attrited Customer', 'Existing Customer',
       'Attrited Customer', 'Existing Customer', 'Existing Customer',
       'Attrited Customer'], dtype=object)

## Create comparison data frame

In [160]:
comparison_forest = pd.DataFrame({'Prediction Class': predictions_forest_decoded,
                                'Prediction Label':predictions_forest_labels,
                                'Actual Label':y_test})
comparison_forest[:50]

    Prediction Class   Prediction Label       Actual Label
0                  1  Existing Customer  Existing Customer
1                  1  Existing Customer  Existing Customer
2                  1  Existing Customer  Existing Customer
3                  1  Existing Customer  Existing Customer
4                  0  Attrited Customer  Attrited Customer
5                  1  Existing Customer  Existing Customer
6                  0  Attrited Customer  Attrited Customer
7                  1  Existing Customer  Existing Customer
8                  1  Existing Customer  Existing Customer
9                  0  Attrited Customer  Attrited Customer
10                 1  Existing Customer  Existing Customer
11                 1  Existing Customer  Existing Customer
12                 1  Existing Customer  Existing Customer
13                 1  Existing Customer  Existing Customer
14                 1  Existing Customer  Existing Customer
15                 1  Existing Customer  Existing Customer
16                 1  Existing Customer  Existing Customer
17                 1  Existing Customer  Existing Customer
18                 1  Existing Customer  Existing Customer
19                 1  Existing Customer  Existing Customer
20                 1  Existing Customer  Existing Customer
21                 1  Existing Customer  Existing Customer
22                 1  Existing Customer  Existing Customer
23                 1  Existing Customer  Existing Customer
24                 1  Existing Customer  Existing Customer
25                 1  Existing Customer  Existing Customer
26                 1  Existing Customer  Existing Customer
27                 1  Existing Customer  Existing Customer
28                 0  Attrited Customer  Attrited Customer
29                 1  Existing Customer  Existing Customer
30                 1  Existing Customer  Existing Customer
31                 1  Existing Customer  Existing Customer
32                 1  Existing Customer  Existing Customer
33                 0  Attrited Customer  Attrited Customer
34                 1  Existing Customer  Existing Customer
35                 1  Existing Customer  Existing Customer
36                 1  Existing Customer  Existing Customer
37                 0  Attrited Customer  Attrited Customer
38                 1  Existing Customer  Existing Customer
39                 1  Existing Customer  Existing Customer
40                 1  Existing Customer  Existing Customer
41                 0  Attrited Customer  Attrited Customer
42                 1  Existing Customer  Existing Customer
43                 1  Existing Customer  Existing Customer
44                 1  Existing Customer  Existing Customer
45                 1  Existing Customer  Existing Customer
46                 0  Attrited Customer  Attrited Customer
47                 1  Existing Customer  Existing Customer
48                 0  Attrited Customer  Existing Customer
49                 1  Existing Customer  Existing Customer

In [161]:
#Find all Attrited Customers
attrited_only_forest = comparison_forest.loc[comparison_forest["Prediction Label"] == "Attrited Customer", :]
print(f"In the Test data there is {len(attrited_only_forest)} attrited customers out of {len(comparison_forest)} records.")
attrited_only_forest[:10]

In the Test data there is 367 attrited customers out of 2532 records.

    Prediction Class   Prediction Label       Actual Label
4                  0  Attrited Customer  Attrited Customer
6                  0  Attrited Customer  Attrited Customer
9                  0  Attrited Customer  Attrited Customer
28                 0  Attrited Customer  Attrited Customer
33                 0  Attrited Customer  Attrited Customer
37                 0  Attrited Customer  Attrited Customer
41                 0  Attrited Customer  Attrited Customer
46                 0  Attrited Customer  Attrited Customer
48                 0  Attrited Customer  Existing Customer
50                 0  Attrited Customer  Attrited Customer

In [162]:
incorrect_attrited_forest = attrited_only_forest.loc[attrited_only_forest["Actual Label"] == "Existing Customer", :]
print(f"There are {len(incorrect_attrited_forest)} incorrectly predicted attrited customers out of {len(attrited_only_forest)} predicted attrities")
Percent_correct_forest = str(round(((len(attrited_only_forest)-len(incorrect_attrited_forest))/len(attrited_only_forest))*100, 2))
print(f"This is an actual accuracy of {Percent_correct_forest}.")
incorrect_attrited_forest

There are 29 incorrectly predicted attrited customers out of 367 predicted attrities
This is an actual accuracy of 92.1.

      Prediction Class   Prediction Label       Actual Label
48                   0  Attrited Customer  Existing Customer
158                  0  Attrited Customer  Existing Customer
180                  0  Attrited Customer  Existing Customer
236                  0  Attrited Customer  Existing Customer
239                  0  Attrited Customer  Existing Customer
356                  0  Attrited Customer  Existing Customer
470                  0  Attrited Customer  Existing Customer
632                  0  Attrited Customer  Existing Customer
654                  0  Attrited Customer  Existing Customer
835                  0  Attrited Customer  Existing Customer
850                  0  Attrited Customer  Existing Customer
966                  0  Attrited Customer  Existing Customer
1016                 0  Attrited Customer  Existing Customer
1087                 0  Attrited Customer  Existing Customer
1125                 0  Attrited Customer  Existing Customer
1166                 0  Attrited Customer  Existing Customer
1296                 0  Attrited Customer  Existing Customer
1501                 0  Attrited Customer  Existing Customer
1816                 0  Attrited Customer  Existing Customer
1921                 0  Attrited Customer  Existing Customer
2034                 0  Attrited Customer  Existing Customer
2084                 0  Attrited Customer  Existing Customer
2154                 0  Attrited Customer  Existing Customer
2202                 0  Attrited Customer  Existing Customer
2210                 0  Attrited Customer  Existing Customer
2300                 0  Attrited Customer  Existing Customer
2314                 0  Attrited Customer  Existing Customer
2475                 0  Attrited Customer  Existing Customer
2481                 0  Attrited Customer  Existing Customer